@model RealEstate.Models.RealEstateViewModel.ChangePassword
@{
    ViewData["Title"] = "Home Page";
    var user = ViewBag.user;
}



<section class="profile">
    <div class="profile-container">
        <div class="profile-img">
            <img src="~/img/@(user.Image == "" ? "Avatar-Default.jpg" : user.Image)" alt="">
            <div>
                <p>@user.FullName</p>
                <span>@user.Email</span>
            </div>
        </div>
        <form asp-controller="Accounts" asp-action="ChangePassword" method="post" class="myaccount-form">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="myaccount-details">
                <div class="myaccount-form-inner">
                    <div class="single-input">
                        <label>Mật khẩu hiện tại</label>
                        <input asp-for="@Model.PasswordNow" type="password">
                    </div>
                    <div class="single-input">
                        <label>Mật khẩu mới</label>
                        <input asp-for="@Model.Password" type="password">
                    </div>
                    <div class="single-input">
                        <label>Nhập lại mật khẩu mới</label>
                        <input asp-for="@Model.ConfirmPassword" type="password">
                    </div>
                </div>
                <div class="profile-conect">
                    <div class="profile-description-btn">
                        <button class="btn btn-success" style="border-radius: unset; min-width: 180px;" type="submit">
                            <span style="font-size: 17px;">Lưu thay đổi</span>
                        </button>
                    </div>
                    <div class="profile-description-btn">
                        <a class="btn btn-success" style="border-radius: unset; min-width: 180px;" asp-controller="Accounts" asp-action="Profile">
                            <span style="font-size: 17px;">Từ Chối</span>
                        </a>
                    </div>
                </div>
        </form>

    </div>
</section>

